body{
    background: rgb(187, 129, 187);
    font: normal 15pt Arial;

}

header{
    color: aliceblue;
    text-align: center;

}

section{
    background: aliceblue;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.438);

}

footer{
    color: aliceblue;
    text-align: center;
    font-style: italic;

}